/.svelte-kit
/.begin_build_output
/.vercel_build_output
/.netlify_build_output
/.cloudflare_build_output
/.serverless_build_output
/.static_build_output
/.node_build_output
/.node_bin

json
build
package

.DS_Store
node
node_modules
src/lib/game/json
src/lib/site/json
src/lib/fire/core
src/__spec__

