.svelte-kit/**
.begin_build_output
.vercel_build_output
.netlify_build_output
.cloudflare_build_output
.serverless_build_output
.static_build_output
.node_build_output

build
package

pnpm-lock.yaml
static/css
node_modules/**
json/**
src/scss/lib/_color.scss
src/lib/map-reduce/dic.ts
src/lib/*/json/*
